$purple: #32a852;

@mixin padin($top:70px,$bottom:70px,$left:5px,$right:5px)
{
  padding-top: $top;
  padding-bottom: $bottom;
  padding-left: $left;
  padding-right: $right;
}
@mixin margin($top:20px,$bottom:20px,$left:20px,$right:20px)
{
  margin-top: $top;
  margin-bottom: $bottom;
  margin-left: $left;
  margin-right: $right;
}
$linkcolor:#80bfff;
$primary:#30415D;
$secondary:#F5F5F5;
.head
{
@include padin();
}
.links
{
  color:$linkcolor;

}
// .imgCarousel {
//   width: 60rem;
//   height: 40rem;
// }
a
{
  color: $secondary;
  @include margin(6px,6px,12px,12px);

}
h1
{
  font-family: 'Noto Sans HK',sans-serif;
}
footer
{
  @include padin(40px,40px);
}
@import "./node_modules/bootstrap/scss/bootstrap.scss";
